.main-wrapper {
    display: grid;
    grid-template-rows: 16rem 1fr 11rem;
    background: var(--cs-radial-gradient);
}

/* Desktop screen styles */

@media screen and (min-width: 1100px) {

    .main-wrapper {
        /* grid-template-rows: max(20%, 21rem) 1fr max(9.5%, 7.5rem); */
        /* grid-template-rows: max(20%, 21rem) auto max(9.5%, 7.5rem); */
        grid-template-rows: max(20%, 21rem) auto;
    }

    @media screen and (max-height: 765px) {
        .main-wrapper {
            grid-template-rows: max(15%, 17rem) auto max(10.5%, 8.5rem);
        }
    }
}