.details-wrapper {
    padding: 8rem 5.5rem 1rem 5.5rem;
    display: grid;
    gap: 8rem;
    grid-row: 2/4;
}

.back-link {
    width: fit-content;
    height: fit-content;
    transition: .3s;
}

.back-link:hover, .back-link:focus-visible {
    filter: brightness(120%);
}

.btn-back {
    gap: 2rem;
    padding: 1.2rem 2rem!important;
    background-color: var(--cs-elements);
    color: var(--cs-text-primary);
    font-size: 3rem!important;
    font-weight: 400!important;
    min-width: 21rem!important;
    border-radius: .5rem;
    box-shadow: 0rem 0rem 2rem -.7rem var(--cs-shadow);
}


.country-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 64.5rem;
    justify-self: center;
}

.country-flag-wrapper {
    flex-basis: 46rem;
    width: 100%;
    overflow: hidden;
}

.country-detail-flag {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.country-details-wrapper {
    display: flex;
    flex-direction: column;
    padding: 8.7rem 0rem 1rem 0rem;
    gap: 3rem;
    width: 100%;
    font-size: 2.8rem;
}

.country-details-wrapper h1 {
    font-size: 4.3rem;
}

.details-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:
    "base"
    "base"
    "base"
    "base"
    "base"
    '.'
    "detail"
    "detail"
    "detail"
    ;
    gap: 2.6rem;
    padding: 1.5rem 0rem 5rem 0rem;
}

.detail-helper {
    display: flex;
    font-weight: 200;
}

.detail-helper:nth-of-type(6) {
    grid-row: 7/8;
}

.detail-helper:nth-of-type(7) {
    grid-row: 8/9;
}

.detail-helper:nth-of-type(8) {
    grid-row: 9/10;
}

.detail-label {
    font-weight: 600;
    margin-right: 1rem;
}

.country-langs {
    display: flex;
    gap: 1rem;
}


.country-details-wrapper h2 {
    font-size: 3.2rem;
    font-weight: 600;
}

.border-countries-wrap {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.border-countries-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 2rem;
    padding: .5rem 0rem 0rem 0rem;
}

.border-link {
    display: block;
    text-align: center;
    min-width: 17rem;
    font-size: 2.5rem;
    font-weight: 200;
    padding: 1rem 2rem;
    border-radius: .5rem;
    color: var(--cs-text-primary);
    background-color: var(--cs-elements);
    transition: .3s;
    box-shadow: 0rem 0rem 2rem -.7rem var(--cs-shadow);
}

.border-link:hover, .border-link:focus-visible {
    filter: brightness(120%);
}

/* Small screen styles */
@media screen and (max-width: 749px) {
    .details-wrapper {
        padding: 8rem 2rem;
        gap: 2rem;
        grid-template-rows: auto 1fr;
    }

    .btn-back {
        min-width: 5rem!important;
    }

    .country-info-wrapper {
        max-width: 42.5rem;
    }

    .country-flag-wrapper {
        flex-basis: 30rem;
    }

    .country-details-wrapper {
        padding: 3rem 0rem 1rem 0rem;
        font-size: 1.5rem;
        gap: 1.5rem;
    }

    .country-details-wrapper h1 {
        font-size: 2.8rem;
    }

    .details-box {
        gap: 1rem;
        padding: 1.5rem 0rem 3rem;
    }

    .country-details-wrapper h2 {
        font-size: 2.2rem;
    }

    .border-countries-links {
        grid-template-columns: 1fr 1fr;
    }

    .border-link {
        min-width: 5rem;
        font-size: 1.5rem;
    }

}


/* Desktop styles */
@media screen and (min-width: 1000px) {
    .details-wrapper {
        padding: 4rem 8rem 1rem 8rem;
        gap: 3rem;
        grid-row: 2/4;
        grid-template-rows: auto 1fr;
    }

    .btn-back {
        font-size: 1.7rem!important;
        padding: .7rem 1.5rem!important;
        min-width: 13.5rem!important;
        gap: 1rem;
    }

    .country-info-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
        max-width: 95rem;
        align-self: flex-start;
    }

    .country-flag-wrapper {
        width: unset;
        flex-basis: 55rem;
    }

    .country-details-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 1.5rem;
        padding: 1rem .5rem;
    }

    .country-details-wrapper h1 {
        font-size: 3rem;
        grid-column: 1/3;
    }

    .details-box {
        grid-column: 1/3;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "base detail"
        "base detail"
        "base detail" 
        "base ." 
        "base ."
        ;
        gap: 1rem;
        padding: 1rem 0.5rem;
    }

    .detail-helper:nth-of-type(5) {
        grid-area: 'base';
        grid-row: 5/6;
        grid-column: 1/2;
    }

    .detail-helper:nth-of-type(6) {
        grid-area: 'detail';
        grid-row: 1/2;
        grid-column: 2/3;
    }
    
    .detail-helper:nth-of-type(7) {
        grid-area: 'detail';
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .detail-helper:nth-of-type(8) {
        grid-area: 'detail';
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .country-details-wrapper h2 {
        font-size: 2.2rem;
    }

    .border-countries-wrap {
        grid-column: 1/3;
        flex-direction: row;
    }

    .border-countries-links {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .border-link {
        min-width: 10rem;
        font-size: 1.4rem;
        padding: .7rem 1rem;
    }


}


@media screen and (min-width: 1200px) {
    .details-wrapper {
        padding: 8rem 8rem 1rem 8rem;
        gap: 8rem;
    }

    .country-info-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        max-width: 128rem;
        /* background-color: teal; */
    }

    .country-flag-wrapper {
        max-width: 56rem;
        max-height: 40rem;
    }

    .country-details-wrapper {
        padding: 4rem 0rem 4rem 4rem;
        gap: 2.5rem;
        /* background-color: rgba(128, 0, 128, 0.464); */
    }

    .details-box {
        /* background-color: red; */
        column-gap: 8rem;
    }

    .border-countries-wrap {
        margin-top: 4rem;
        gap: 2rem;
        align-items: center;
        /* background-color: rgba(255, 192, 203, 0.271); */
    }

    .country-details-wrapper h2 {
        font-size: 1.55rem;
    }

    .border-countries-links {
        padding: 0;
        gap: 1rem;
    }

    .border-link {
        min-width: 9.5rem;
        padding: .7rem 1rem;
    }

}