.recent-wrapper {
    width: 100%;
}

.recent-views-list {
    position: relative;
    padding: 1.5rem 3rem 3rem 3rem;
    margin-bottom: 4rem;
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    gap: 8rem;
    justify-items: center;
    /* border: 1px solid var(--cs-text-primary); */
    border-radius: 1rem;
    /* max-width: fit-content; */
    width: 100%;
    background-color: green;
}

/* .recent-views-list::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    height: .2rem;
    background-color: var(--cs-text-primary);
} */

.rv-label-helper {
    display: flex;
    align-items: center;
    gap: 2rem;
    align-self: flex-start;
}

.rv-label {
    font-size: 3rem;
}

.btn-toggle-recent {
    font-size: 1.8rem!important;
    padding: .2rem .4rem!important;
    background-color: var(--cs-inputs);
    border-radius: .2rem;
}

/* Small screen styles */

@media screen and (max-width: 749px) {
    .recent-views-list {
        padding: 1.5rem 1rem;
        gap: 5rem;
        grid-template-columns: 1fr;
    }
}

/* Desktop styles */

@media screen and (min-width: 1000px) {
    .recent-views-list {
        padding: .5rem 2rem .5rem 2rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
        margin-bottom: 7rem;
    }
}

@media screen and (min-width: 1200px) {
    .recent-views-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 6rem;
    }
}