header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
}

.header-helper-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid var(--cs-header-outline);
    border-radius: .7rem;
    padding: 1rem 1rem 1rem 2rem;
    width: 100%;
    max-width: 45rem;
}

.header-logo-wrap {
    max-width: 8.5rem;
}

.logo-bonus {
    max-width: 5.5rem;
}

.header-score-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: .7rem;
    padding: 1rem 1rem 0.6rem 1rem;
    min-width: 8rem;
}

.score-label {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .15rem;
    color: var(--cs-score-text);
}

.score-value {
    font-size: 4rem;
    font-weight: 700;
    color: var(--cs-dark-text);
}


/* Desktop screen styles */

@media screen and (min-width: 1100px) {
    header {
        padding: 3.5rem 3rem 0rem 3rem;
        justify-items: flex-end;
    }

    .header-helper-wrap {
        max-width: 70rem;
        border-radius: 1.5rem;
        padding: 2rem 2.1rem 2rem 2.5rem;
    }

    .header-logo-wrap {
        max-width: 16rem;
    }

    .logo-bonus {
        max-width: 12rem;
    }

    .header-score-wrap {
        min-width: 15rem;
        padding: 1rem 1rem .5rem 1rem;
    }

    .score-label {
        font-size: 1.8rem;
    }

    .score-value {
        line-height: 1.1;
        font-size: 6.5rem;
    }

    @media screen and (max-height: 765px) {
        header {
            padding: 1rem 3rem 0rem 3rem;
        }

        .header-helper-wrap {
            padding: 1rem 2.1rem;
        }

        .header-logo-wrap {
            max-width: 12.5rem;
        }

        .logo-bonus {
            max-width: 8.5rem;
        }

        .header-score-wrap {
            min-width: 12rem;
            padding: 1rem 1rem .5rem 1rem;
        }
    
        .score-label {
            font-size: 1.4rem;
        }
    
        .score-value {
            line-height: 1.1;
            font-size: 4.5rem;
        }

    }

}