.helper-success {
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding: 2rem 2rem;
}

.success-icon-wrapper {
    max-width: 5.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.success-wrapper h1 {
    font-size: 2.4rem;
    color: hsl(var(--cs-marine-blue));
}

.success-wrapper p {
    color: hsl(var(--cs-cool-gray));
    font-size: 1.65rem;
    line-height: 1.5;
}

@media screen and (min-width: 1000px) {
    .helper-success {
        margin-top: auto;
        margin-bottom: auto;
        padding: 2rem 4.5rem;
    }

    .success-icon-wrapper {
        max-width: 8rem;
        margin-top: unset;
        margin-bottom: 2rem;
    }

    .success-wrapper h1 {
        font-size: 3.2rem;
    }
}