.step-controls-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem 0rem 1.5rem;
    /* grid-row: 4/5; */
    /* grid-column: 1/2; */
    /* justify-self: flex-end; */
    width: 100%;
    background-color: hsl(var(--cs-white));
}

.btn-stepchange {
    padding: 1rem 1rem;
    min-width: 9.5rem;
    font-size: 1.45rem;
    font-weight: 500;
    border-radius: .5rem;
    border: none;
}

.btn-dark {
    background-color: hsl(var(--cs-marine-blue));
    color: hsl(var(--cs-white));
}

.btn-light {
    background-color: transparent;
    color: hsl(var(--cs-cool-gray));
}

.btn-next {
    margin-left: auto;
}