.plans-inputs {
    /* background-color: teal; */
    gap: 1.1rem;
}

.plans-fieldset {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    padding: .3rem;
    border: none;
    margin-bottom: 2rem;
    border: 1px solid transparent;
    border-radius: 1rem;
}

.plan-radio-input {
    display: none;
}

.plan-input-helper {
    display: flex;
    align-items: center;
    /* background-color: orange; */
}

.plan-input-helper label {
    cursor: pointer;
    padding: 1.8rem 1.7rem;
    display: flex;
    align-items: flex-start;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid hsl(var(--cs-light-gray));
    gap: 1.5rem;
    transition: .3s;
    /* background-color: rgba(0, 0, 255, 0.592); */
}

.plan-input-helper label:hover {
    border-color: hsl(var(--cs-purplish-blue));
}

.plan-radio-input:checked + label {
    border-color: hsl(var(--cs-purplish-blue));
    background-color: hsla(var(--cs-purplish-blue), 3%);
}

.plan-label-helper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 1.5rem;
}


.plan-label-helper p:nth-of-type(1) {
    font-weight: 700;
    color: hsl(var(--cs-marine-blue));
}

.plan-label-helper p:nth-of-type(2) {
    font-size: 1.4rem;
    font-weight: 500;
    color: hsl(var(--cs-cool-gray));
}

.billing-bonus-info {
    display: none;
    font-size: 1.2rem;
    color: hsl(var(--cs-marine-blue));
}

.show-bonus {
    display: block;
}

.checkbox-helper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    /* margin-bottom: 2.5rem; */
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    background-color: hsl(var(--cs-magnolia));
}

.billing-switch {
    display: flex;
    gap: 2.2rem;
    align-items: center;
    /* background-color: orange; */
}

.billing-option-name {
    font-size: 1.5rem;
    font-weight: 500;
    color: hsl(var(--cs-cool-gray));
}

.billing-selected {
    color: hsl(var(--cs-marine-blue));
}

.switch-helper {
    position: relative;
    width: 4rem;
    height: 2rem;
}

.billing-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: hsl(var(--cs-marine-blue));
    transition: .3s;
    border-radius: 1rem;
}

.slider::before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    left: .4rem;
    bottom: .4rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

/* .billing-checkbox:checked + .slider {
    background-color: yellow;
} */

.billing-checkbox:checked + .slider:before {
    transform: translateX(1.9rem);
  }





