header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3.2rem;
    background-color: var(--cs-elements);
    color: var(--cs-text-primary);
}

.logo {
    font-size: 2.7rem;
    font-weight: 800;
    letter-spacing: .04rem;
}

.btn-theme {
    transition: unset;
    gap: 2.5rem;
    color: var(--cs-text-primary);
    background-color: var(--cs-elements);
}