header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3.2rem;
    background-color: var(--cs-elements);
    color: var(--cs-text-primary);
}

.logo {
    font-size: 2.7rem;
    font-weight: 800;
    letter-spacing: .04rem;
}

.btn-theme {
    transition: unset;
    gap: 2.5rem;
    color: var(--cs-text-primary);
    background-color: var(--cs-elements);
}

/* Small screen styles */

@media screen and (max-width: 749px) {
    header {
        flex-direction: column;
        padding: 2rem 2rem;
    }

    .logo {
        font-size: 2.6rem;
    }

    .btn-theme {
        font-size: 1.5rem!important;
    }
}

/* Desktop styles */

@media screen and (min-width: 1000px) {
    header {
        padding: 1rem 8rem;
    }

    .logo {
        font-size: 2.3rem;
    }

    .btn-theme {
        gap: 1.2rem;
        font-size: 1.6rem!important;
    }
}