/* .personal-info-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: rgba(255, 192, 203, 0.57);
} */


.step-helper-wrap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 2.5rem 1rem 2.5rem;
    margin-top: 1.2rem;
    background-color: hsl(var(--cs-white));
    width: 93%;
    min-height: 68%;
    border-radius: 1rem;
    border: 1px solid green;
}