#root {
    display: grid;
}

.app {
    display: grid;
    color: var(--cs-text-primary);
    background-color: var(--cs-background);
}

.app {
    /* grid-template-rows: 16rem minmax(10rem, 20rem) auto; */
    /* grid-template-rows: 16rem auto; */
    grid-template-rows: 16rem 35rem 1fr;
}

/* Small screen styles */

@media screen and (max-width: 749px) {
    .app {
        grid-template-rows: 16rem 30rem 1fr;
    }
}

/* Desktop styles */

@media screen and (min-width: 1000px) {
    .app {
        grid-template-rows: 8rem 14rem 1fr;
    }
}