.results-wrapper {
    /* background-color: teal; */
    padding: 5rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.results-helper {
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    text-align: center;
    /* background-color: rgba(255, 192, 203, 0.801); */
}

.selection-slot {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3rem;
    place-items: center;
    gap: 1.5rem;
    /* background-color: rgba(255, 255, 0, 0.458); */
}

.selection-placeholder {
    display: grid;
    place-items: center;
    min-width: 11rem;
    min-height: 11rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.352);
}

.selection-label {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .15rem;
    color: white;
}

.play-again-box {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7rem;
    text-align: center;
    /* background-color: red; */
    color: white;
}

.result-info {
    font-size: 5.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

.result-btn {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .15rem;
    text-transform: uppercase;
    min-width: 22rem;
    padding: 1.2rem 1rem;
    border: 1px solid white;
    border-radius: .7rem;
    background-color: white;
    color: var(--cs-dark-text);
}

