.bonus-view-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-selections-wrapper-bonus {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: url(../../assets/images/bg-pentagon.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    min-height: 35rem;
    min-width: 35rem;
    padding: .5rem;
    transform: translate(0, -1rem);
}


/* Desktop screen styles */

@media screen and (min-width: 1100px) {
    .game-selections-wrapper-bonus {
        min-width: 50rem;
        min-height: 48rem;
        transform: unset;
        background-size: 60%;
        background-position: top 65% center;
    }

    @media screen and (max-height: 765px) {
        .game-selections-wrapper-bonus {
            min-height: 38rem;
        }
    }
}