.helper-summary {
    padding-bottom: 1rem;
}

.summary-inputs {
    border-radius: 1rem;
    overflow: hidden;
    font-size: 1.4rem;
}

.summary-inputs-outer {
    padding: 2rem 1.5rem;
    background-color: hsl(var(--cs-alabaster));
}

.summary-plan-helper {
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary-plan-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .1rem;
}

.summary-chosen-plan {
    font-weight: 700;
    color: hsl(var(--cs-marine-blue));
}

.summary-chosen-plan::first-letter {
    text-transform: capitalize;
}

.chosen-billing-option {
    margin-left: .1rem;
}

.btn-summary-change {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: hsl(var(--cs-cool-gray));
    transition: .3s;
}

.btn-summary-change:hover,
.btn-summary-change:focus-visible {
    color: hsl(var(--cs-purplish-blue));
}

.summary-plan-price {
    font-weight: 700;
    color: hsl(var(--cs-marine-blue));
}

.summary-addons-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    border-top: 1px solid hsl(var(--cs-light-gray));
}

.summary-addons-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: hsl(var(--cs-cool-gray));
}

.summary-addon-price {
    font-weight: 500;
    color: hsl(var(--cs-marine-blue));
}


.total-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    color: hsl(var(--cs-cool-gray));
}

.total-billing-option {
    margin-left: .5rem;
}

.total-price {
    font-size: 1.6rem;
    font-weight: 700;
    color: hsl(var(--cs-purplish-blue));
}

@media screen and (min-width: 1000px) {
    .summary-inputs-outer {
        padding: 2.2rem 2.5rem;
    }

    .summary-plan-helper {
        padding-bottom: 2.5rem;
    }

    .summary-plan-inner {
        gap: .5rem;
    }

    .summary-chosen-plan {
        font-size: 1.6rem;
    }

    .summary-plan-price {
        font-size: 1.6rem;
    }

    .summary-addons-list {
        gap: 2rem;
    }

    .total-display {
        padding: 2.5rem 2.5rem;
    }

    .total-price {
        font-size: 2rem;
    }
}